/* Top Movie & Details movie */

.movie__info,
.movie__actions {
  justify-content: flex-start;
}
.movie__description {
  text-align: left;
}

.top-movie {
  margin-top: 250px;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--dark-color) 100%
  );
}

.movie__img::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 40%;
  background: linear-gradient(90deg, black, transparent);
  top: 0;
  left: 0;
}
.movie-details {
  margin-top: 54px;
}
.movie-details {
  background: linear-gradient(to bottom, transparent 0%, var(--dark-color) 50%);
}

.movie__container {
  grid-template-columns: 1fr 2fr;
  place-items: center;
  grid-gap: 24px;
  margin-bottom: 32px;
  display: grid;
}
.movie__container .movie__poster {
  display: block;
}
.movie__container .movie__poster img {
  width: 100%;
}
.movie__container .movie__text {
  overflow: hidden;
  width: 100%;
}
.movie-details .buttonBack {
  position: absolute;
  top: 0;
  right: 16px;
}
.buttonBack span {
  display: block;
}
.movies-preview__header {
  display: grid;
  grid-template-columns: 1fr 140px;
  justify-content: space-between;
  margin-bottom: 16px;
  grid-gap: 16px;
}
.movie__categories .categories-preview__list--scroll{
  overflow: initial;
  flex-wrap: wrap;
}